In [1]:
import pandas as pd
import numpy as np
import scipy as sp
import plotly.plotly as py
import matplotlib.pyplot as plt
import plotly.figure_factory as ff
import plotly.graph_objs as go
from plotly import tools
%matplotlib inline

In [2]:
#You can load your mongodb data to pandas DataFrame using this code. 
import pymongo
from pymongo import MongoClient
client = MongoClient()
db = client.MedicineDB
collection = db.data_table
data = pd.DataFrame(list(collection.find()))

In [3]:
data

,DateTime,Gram,TimeStamp,_id,dateTime,sensorType,value
0,6/2/2018 16:59:24,NaN,Date and Time,5a798a8d82cbac0c8c98c5cc,NaN,LoadCell,-0.000448
1,6/2/2018 16:59:30,NaN,Date and Time,5a798a9382cbac0c8c98c5cd,NaN,LoadCell,0.004036
2,6/2/2018 16:59:33,NaN,Date and Time,5a798a9682cbac0c8c98c5ce,NaN,LoadCell,4.321525
3,6/2/2018 16:59:37,NaN,Date and Time,5a798a9a82cbac0c8c98c5cf,NaN,LoadCell,4.267713
4,6/2/2018 16:59:40,NaN,Date and Time,5a798a9e82cbac0c8c98c5d0,NaN,LoadCell,4.301345
5,6/2/2018 16:59:44,NaN,Date and Time,5a798aa182cbac0c8c98c5d1,NaN,LoadCell,4.343050
6,6/2/2018 16:59:47,NaN,Date and Time,5a798aa682cbac0c8c98c5d2,NaN,LoadCell,4.338565
7,6/2/2018 16:59:52,NaN,Date and Time,5a798aa982cbac0c8c98c5d3,NaN,LoadCell,4.280269
8,6/2/2018 16:59:55,NaN,Date and Time,5a798aac82cbac0c8c98c5d4,NaN,LoadCell,4.365471
9,6/2/2018 17:0:24,NaN,Date and Time,5a798ac982cbac0c8c98c5d5,NaN,LoadCell,4.142152
10,6/2/2018 17:0:27,NaN,Date and Time,5a798acd82cbac0c8c98c5d6,NaN,LoadCell,4.207623
11,6/2/2018 17:0:38,NaN,Date and Time,5a798ad882cbac0c8c98c5d7,NaN,LoadCell,4.429596
12,6/2/2018 17:0:41,NaN,Date and Time,5a798adb82cbac0c8c98c5d8,NaN,LoadCell,4.418834
13,6/2/2018 17:0:44,NaN,Date and Time,5a798ade82cbac0c8c98c5d9,NaN,LoadCell,4.425560
14,6/2/2018 17:0:48,NaN,Date and Time,5a798ae182cbac0c8c98c5da,NaN,LoadCell,4.391480
15,6/2/2018 17:0:51,NaN,Date and Time,5a798ae482cbac0c8c98c5db,NaN,LoadCell,4.449776
16,6/2/2018 17:0:55,NaN,Date and Time,5a798ae882cbac0c8c98c5dc,NaN,LoadCell,4.462332
17,6/2/2018 17:0:58,NaN,Date and Time,5a798aec82cbac0c8c98c5dd,NaN,LoadCell,4.390583
18,6/2/2018 17:1:2,NaN,Date and Time,5a798aef82cbac0c8c98c5de,NaN,LoadCell,4.442153
19,6/2/2018 17:1:5,NaN,Date and Time,5a798af282cbac0c8c98c5df,NaN,LoadCell,4.418834
20,6/2/2018 17:1:9,NaN,Date and Time,5a798af682cbac0c8c98c5e0,NaN,LoadCell,4.456054
21,6/2/2018 17:1:12,NaN,Date and Time,5a798af982cbac0c8c98c5e1,NaN,LoadCell,4.448431
22,6/2/2018 17:1:15,NaN,Date and Time,5a798afc82cbac0c8c98c5e2,NaN,LoadCell,4.440359
23,6/2/2018 17:1:19,NaN,Date and Time,5a798b0082cbac0c8c98c5e3,NaN,LoadCell,4.450224
24,6/2/2018 17:1:23,NaN,Date and Time,5a798b0482cbac0c8c98c5e4,NaN,LoadCell,4.473991
25,6/2/2018 17:1:26,NaN,Date and Time,5a798b0782cbac0c8c98c5e5,NaN,LoadCell,4.413004
26,6/2/2018 17:1:29,NaN,Date and Time,5a798b0a82cbac0c8c98c5e6,NaN,LoadCell,4.414350
27,6/2/2018 17:1:33,NaN,Date and Time,5a798b0e82cbac0c8c98c5e7,NaN,LoadCell,4.434529
28,6/2/2018 17:1:36,NaN,Date and Time,5a798b1182cbac0c8c98c5e8,NaN,LoadCell,4.428251
29,6/2/2018 17:1:40,NaN,Date and Time,5a798b1582cbac0c8c98c5e9,NaN,LoadCell,4.442601
...,...,...,...,...,...,...,...
76,6/2/2018 17:10:28,NaN,Date and Time,5a798d2582cbac0c8c98c618,NaN,LoadCell,4.035426
77,6/2/2018 17:10:33,NaN,Date and Time,5a798d2b82cbac0c8c98c619,NaN,LoadCell,4.055605
78,NaN,[4.140359],Date and Time,5a7a70df82cbac2a3ca49ec6,[7/2/2018 9:22:6],LoadCell,NaN
79,NaN,[4.099103],Date and Time,5a7a70e282cbac2a3ca49ec7,[7/2/2018 9:22:9],LoadCell,NaN
80,NaN,[4.003139],Date and Time,5a7a70e682cbac2a3ca49ec8,[7/2/2018 9:22:13],LoadCell,NaN
81,NaN,[4.037668],Date and Time,5a7a70ea82cbac2a3ca49ec9,[7/2/2018 9:22:17],LoadCell,NaN
82,NaN,[4.061883],Date and Time,5a7a70ee82cbac2a3ca49eca,[7/2/2018 9:22:21],LoadCell,NaN
83,NaN,[4.029596],Date and Time,5a7a70f582cbac2a3ca49ecb,[7/2/2018 9:22:25],LoadCell,NaN
84,7/2/2018 9:32:25,NaN,Date and Time,5a7a734b82cbac00bcd5ef0b,NaN,LoadCell,4.205381
85,7/2/2018 9:32:31,NaN,Date and Time,5a7a735482cbac00bcd5ef0c,NaN,LoadCell,4.178027
86,7/2/2018 9:32:38,NaN,Date and Time,5a7a735782cbac00bcd5ef0d,NaN,LoadCell,0.014798
87,7/2/2018 9:32:41,NaN,Date and Time,5a7a735a82cbac00bcd5ef0e,NaN,LoadCell,0.013004
88,7/2/2018 9:32:44,NaN,Date and Time,5a7a735d82cbac00bcd5ef0f,NaN,LoadCell,0.013453
89,7/2/2018 9:32:48,NaN,Date and Time,5a7a736182cbac00bcd5ef10,NaN,LoadCell,0.046188
90,7/2/2018 9:32:51,NaN,Date and Time,5a7a736482cbac00bcd5ef11,NaN,LoadCell,0.037220
91,7/2/2018 9:32:54,NaN,Date and Time,5a7a736782cbac00bcd5ef12,NaN,LoadCell,4.155605
92,7/2/2018 9:32:57,NaN,Date and Time,5a7a736a82cbac00bcd5ef13,NaN,LoadCell,4.149327
93,7/2/2018 9:33:0,NaN,Date and Time,5a7a736e82cbac00bcd5ef14,NaN,LoadCell,4.121076
94,7/2/2018 9:33:4,NaN,Date and Time,5a7a737182cbac00bcd5ef15,NaN,LoadCell,4.138116
95,7/2/2018 9:33:7,NaN,Date and Time,5a7a737482cbac00bcd5ef16,NaN,LoadCell,4.159193
96,7/2/2018 9:33:10,NaN,Date and Time,5a7a737782cbac00bcd5ef17,NaN,LoadCell,4.124664
97,7/2/2018 9:33:14,NaN,Date and Time,5a7a737b82cbac00bcd5ef18,NaN,LoadCell,4.173543
98,7/2/2018 9:33:17,NaN,Date and Time,5a7a737f82cbac00bcd5ef19,NaN,LoadCell,4.131390
99,7/2/2018 9:33:21,NaN,Date and Time,5a7a738282cbac00bcd5ef1a,NaN,LoadCell,4.181614
100,7/2/2018 9:33:24,NaN,Date and Time,5a7a738582cbac00bcd5ef1b,NaN,LoadCell,4.116592
101,7/2/2018 9:33:27,NaN,Date and Time,5a7a738882cbac00bcd5ef1c,NaN,LoadCell,4.100449
102,7/2/2018 11:19:44,NaN,Date and Time,5a7a8c7182cbac0490dad31b,NaN,LoadCell,23.885200
103,7/2/2018 11:19:49,NaN,Date and Time,5a7a8c7682cbac0490dad31c,NaN,LoadCell,21.549330
104,7/2/2018 11:19:52,NaN,Date and Time,5a7a8c7982cbac0490dad31d,NaN,LoadCell,21.862780
105,7/2/2018 11:19:56,NaN,Date and Time,5a7a8c7d82cbac0490dad31e,NaN,LoadCell,22.612560

In [4]:
data['value']

0      -0.000448
1       0.004036
2       4.321525
3       4.267713
4       4.301345
5       4.343050
6       4.338565
7       4.280269
8       4.365471
9       4.142152
10      4.207623
11      4.429596
12      4.418834
13      4.425560
14      4.391480
15      4.449776
16      4.462332
17      4.390583
18      4.442153
19      4.418834
20      4.456054
21      4.448431
22      4.440359
23      4.450224
24      4.473991
25      4.413004
26      4.414350
27      4.434529
28      4.428251
29      4.442601
         ...
76      4.035426
77      4.055605
78           NaN
79           NaN
80           NaN
81           NaN
82           NaN
83           NaN
84      4.205381
85      4.178027
86      0.014798
87      0.013004
88      0.013453
89      0.046188
90      0.037220
91      4.155605
92      4.149327
93      4.121076
94      4.138116
95      4.159193
96      4.124664
97      4.173543
98      4.131390
99      4.181614
100     4.116592
101     4.100449
102    23.885200
103    21.549330
104    21.862780
105    22.612560
Name: value, Length: 106, dtype: float64

In [5]:
data['DateTime']

0      6/2/2018  16:59:24
1      6/2/2018  16:59:30
2      6/2/2018  16:59:33
3      6/2/2018  16:59:37
4      6/2/2018  16:59:40
5      6/2/2018  16:59:44
6      6/2/2018  16:59:47
7      6/2/2018  16:59:52
8      6/2/2018  16:59:55
9       6/2/2018  17:0:24
10      6/2/2018  17:0:27
11      6/2/2018  17:0:38
12      6/2/2018  17:0:41
13      6/2/2018  17:0:44
14      6/2/2018  17:0:48
15      6/2/2018  17:0:51
16      6/2/2018  17:0:55
17      6/2/2018  17:0:58
18       6/2/2018  17:1:2
19       6/2/2018  17:1:5
20       6/2/2018  17:1:9
21      6/2/2018  17:1:12
22      6/2/2018  17:1:15
23      6/2/2018  17:1:19
24      6/2/2018  17:1:23
25      6/2/2018  17:1:26
26      6/2/2018  17:1:29
27      6/2/2018  17:1:33
28      6/2/2018  17:1:36
29      6/2/2018  17:1:40
              ...
76     6/2/2018  17:10:28
77     6/2/2018  17:10:33
78                    NaN
79                    NaN
80                    NaN
81                    NaN
82                    NaN
83                    NaN
84      7/2/2018  9:32:25
85      7/2/2018  9:32:31
86      7/2/2018  9:32:38
87      7/2/2018  9:32:41
88      7/2/2018  9:32:44
89      7/2/2018  9:32:48
90      7/2/2018  9:32:51
91      7/2/2018  9:32:54
92      7/2/2018  9:32:57
93       7/2/2018  9:33:0
94       7/2/2018  9:33:4
95       7/2/2018  9:33:7
96      7/2/2018  9:33:10
97      7/2/2018  9:33:14
98      7/2/2018  9:33:17
99      7/2/2018  9:33:21
100     7/2/2018  9:33:24
101     7/2/2018  9:33:27
102    7/2/2018  11:19:44
103    7/2/2018  11:19:49
104    7/2/2018  11:19:52
105    7/2/2018  11:19:56
Name: DateTime, Length: 106, dtype: object

In [6]:
df = pd.DataFrame({'value':data['value'],'DateTime':data['DateTime']}, columns=['DateTime', 'value'])

In [7]:
tracevoc = go.Scatter(
   x = df['DateTime'],
   y = df['value'],
   mode = 'lines',
   name = 'voc'
    
)

fig = tools.make_subplots(rows=2, cols=1)

fig.append_trace(tracevoc, 1, 1)

fig['layout'].update(height=600, width=600, title='File 1')
py.iplot(fig, filename='simple-subplot')

This is the format of your plot grid:
[ (1,1) x1,y1 ]
[ (2,1) x2,y2 ]

In [7]:
#df['Gram']
#df
#df = df.cumsum()
#plt.figure();
#df2 = pd.DataFrame(  np.random.rand(10, 4),   columns=['a', 'b', 'c', 'd'])
#df2.plot.bar();
#df['Gram'] = pd.to_datetime(df['Gram'])
#df['dateTime'] = df['dateTime'].dt.weekday_name


#df4 = pd.DataFrame({'a': np.random.randn(1000) + 1, 'b': np.random.randn(1000),
 #                   'c': np.random.randn(1000) - 1}, columns=['a', 'b', 'c'])

#df = pd.DataFrame({'dateTime':data['dateTime'], 'Gram':data['Gram']}, columns=['dateTime', 'Gram'])

#plt.figure();
#df.info()
#df.plot();


#df = pd.DataFrame({'Gram':data['Gram']}, columns=['Gram'])
#df = df.astype('float')
#plt.figure();
#df.plot();

##df['DateTime']
#plt.figure();
#df.plot();